* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'monserrat', sans-serif;
  background-color: #F5F5F5;
}

.titleBar {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 16;
  font-size: 24;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;

  border: none;
  outline: none;
  background: none;

  background-color: #A9A9A9;
  border-radius: 8px;

  color: #53565A;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px #4484C4;
}

table tbody tr td {
  padding-top: 15px;
  padding-bottom: 15px;
}

table tbody tr td p {
  padding-top: 15px;
  padding-bottom: 15px;
}

table tbody tr td img {
  border-radius: 15px;
}

.filmContainer {
  background-color: #F5F5F5;
}

.viewBotton {
  border-radius: 8px;
  height: 30px;
  width: 60px;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin-top: 10px;
  box-shadow: 3px 3px 0 #ddd;
}
